<div class="watchlist-box">
  <span><i class="fas fa-eye fa-3x"></i></span>
  <span><h3>  Watchlist</h3></span>
</div>

<div class="container">
  <div class="row watch-list" *ngFor="let item of stockList">
    <div class="col-sm">
      {{item.title}}
    </div>
    <div class="col-sm">
      {{item.price}}
    </div>
    <div class="col-sm">
      {{item.priceChange}}
    </div>
    <div class="col-sm">
      ({{item.pricePerCentage}}) %
    </div>
    <div class="col-sm">
      <a href="#">Go To</a>
    </div>
  </div>
</div>