.watchlist-box {
    display: flex;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #dbd1d1;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

.watch-list {
    border: 1px solid #afafd0;
    border-radius: 5px;
    margin: 20px;
    background-color: aliceblue;
}
